ax-glyph-card::ng-deep {
  margin-right: 1rem !important;
  width: calc(50% - 1rem);

  @media (min-width: 500px) { width: calc(33% - 1rem); }
  @media (min-width: 768px) { width: calc(25% - 1rem); }
  @media (min-width: 992px) { width: calc(20% - 1rem); }
  @media (min-width: 1200px) { width: calc(16.66% - 1rem); }
}