<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Axial</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '' ]">Dictionary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/translate' ]">Translator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/print' ]">Printable</a>
      </li>
    </ul>
  </div>
</nav>