@media print {
  ax-header, ax-footer, ax-filter {
    display: none !important;
  }

  ax-glyph-card {
    page-break-inside: avoid !important;
  }

  a {
    text-decoration: none !important;
  }

  .display {
    display: none !important;
  }

  .container {
    width: 100% !important;
  }
}