@media print {
  ax-header, ax-footer, ax-filter {
    display: none !important;
  }

  ax-search-result, .result-body, .result-image, .result-synonyms, ax-glyph {
    page-break-inside: avoid !important;
  }

  a {
    text-decoration: none !important;
  }

  .display {
    display: none !important;
  }

  .container {
    width: 100% !important;
  }
}