.search-results {
  display: flex;
}

.search-results.grid {
  display: table;
  
  ax-search-result::ng-deep {
    display: inline-block;

    width: 169px !important;
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 1rem !important;
    margin-right: 1rem !important;
    height: auto;
    .result-image {
      margin: 0 auto;
    }
    .result-body {
      margin: 0 auto;
    }
  }
}

.search-results.list {
  flex-direction: column;
}